{% extends "base.html" %}

{% block title %}Coffee Machine{% endblock%}

{% block header %}
    <div class="row " style="justify-content: flex-end;">
      <div class="col-4">
        <div class="page-title-box">
          {% if bread_crumbs %}
            <div class="page-title-right">
              <ol class="breadcrumb m-0" style="    justify-content: flex-end;">
                {% for bread_crumb in bread_crumbs %}
                  <li class="breadcrumb-item">{{ bread_crumb }}</li>
                {% endfor %}
              </ol>
            </div>
          {% endif %}

        </div>
      </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
          <div class="">
            <div style="float:left">
            <h4 class="page-title">{{ page_title }}</h4>
            </div>
          </div>
        </div>
    </div>

    <hr>
{% endblock %}

{% block content %}

            <div class="row">
              <div class="col-xl-3">
                <h4>Filters</h4>
              </div>
            </div>
            <div class="row" id="filters">
              <div class="col-xl-2">
                  <select class="custom-select" id="product_type">
                      <option disabled selected hidden>Select Product Type</option>
                      <option value="">All</option>
                      <option value="COFFEE_MACHINE_LARGE">LARGE</option>
                      <option value="COFFEE_MACHINE_SMALL">SMALL</option>
                      <option value="ESPRESSO_MACHINE">ESPRESSO MACHINE</option>
                  </select>
              </div>
              <div class="col-xl-2">
                  <select class="custom-select" id="water_line_compatible">
                      <option disabled selected hidden>Select Water line</option>
                      <option value="">All</option>
                      <option value="true">Yes</option>
                      <option value="false">No</option>
                  </select>
              </div>
              <div class="col-xl-2">
                <button type="button" class="btn btn-primary waves-effect waves-light" id="submit_filter">Filter</button>
                <button type="button" class="btn btn-secondary waves-effect waves-light" id="reset_filter">Reset</button>
              </div>
            </div>

              <div class="row mt-3" id="coffee_machines_list" style="justify-content:center">
              </div>


{% endblock %}

{% block extra_javascript %}
<script>
    var coffee_machine_api_url = '{{coffee_machine_api_url}}';

    try{
        $.ajax({
            type: "GET",
            dataType: "json",
            url: coffee_machine_api_url,
            success: function(data){
                if (data){
                  if (!jQuery.isEmptyObject(data['coffee_machines'])){
                    render_coffee_machine_cards(data['coffee_machines'])
                  }
                }
            }
        });
    }catch(error){
        console.log(error)
    };

    // submit filter
    $('#submit_filter').on('click', function(){
        try{
          var product_type = $('#product_type').val()
          if (product_type){
            coffee_machine_filter_api_url = coffee_machine_api_url +  `?product_type=${product_type}`
          }else{
            coffee_machine_filter_api_url = coffee_machine_api_url+'?'
          }
          var water_line_compatible = $('#water_line_compatible').val()
          if (water_line_compatible){
            coffee_machine_filter_api_url = coffee_machine_filter_api_url +  `&water_line=${water_line_compatible}`
          }else{
            coffee_machine_filter_api_url = coffee_machine_filter_api_url
          }
          $.ajax({
              type: "GET",
              dataType: "json",
              url: coffee_machine_filter_api_url,
              success: function(data){
                try{
                  if (data){
                      if (!jQuery.isEmptyObject(data['coffee_machines'])){
                        render_coffee_machine_cards(data['coffee_machines']);
                      }else{
                        $('#coffee_machines_list').empty();
                        $('#coffee_machines_list').append('<div class="col-xl-5 text-muted">No Coffee Machines Found ..</div>')
                      }
                  }
                }catch(error){
                  console.log(error)
                };
              }
          });
        }catch(error){
          console.log(error)
        };
      });

      // reset filter
      $('#reset_filter').on('click', function(){
        try{
          $.ajax({
              type: "GET",
              dataType: "json",
              url: coffee_machine_api_url,
              success: function(data){
                try{
                  if (data){
                    if(data['coffee_machines']){
                        render_coffee_machine_cards(data['coffee_machines']);
                        $('#product_type :nth-child(1)').prop('selected', true);
                        $('#water_line_compatible :nth-child(1)').prop('selected', true);

                    }
                  }
                }catch(error){
                  console.log(error)
                };
              }
          });
        }catch(error){
          console.log(error)
        };
      });

    function render_coffee_machine_cards(data){
        if (!jQuery.isEmptyObject(data)){
            $('#coffee_machines_list').empty();
            for (var item of data){
                $('#coffee_machines_list').append(`
                    <div class="card mb-3 mt-3 col-sm-3 mr-2 ml-2" style="">
                      <div class="row no-gutters">
                        <div class="col-md-4">
                          <img src="https://imgaz1.staticbg.com/thumb/view/oaupload/ser1/banggood/images/3B/F4/bf29ad2d-4734-4f57-b1c9-dad5c497a1ae.png" height=165 class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">Product: ${item['product_name']}</h5>
                            <p class="card-text">Type: `+ get_product_type(item['product_type'])+`</p>
                            <p class="card-text"><small class="text-muted">Water Line Compatible: `+get_water_compatible_icon(item['water_line_compatible'])+`</small></p>
                            <p class="card-text"><small class="text-muted">Model: `+format_string(item['model_type'])+`</small></p>
                          </div>
                        </div>
                      </div>
                    </div>
                `)

            }
        }
    }


    function get_product_type(slug){
        let productsTypes = {
            "COFFEE_MACHINE_SMALL" : "SMALL",
            "COFFEE_MACHINE_LARGE" : "LARGE",
            "ESPRESSO_MACHINE" : "ESPRESSO MACHINE",
        }

        if ( slug in  productsTypes){
            return productsTypes[slug]
        }else{
            return slug
        }
    }

    function get_water_compatible_icon(value){
        if (value){
            html = `<i class="fas fa-check-circle" style='color:green'></i>`
        }else{
            html = `<i class="fas fa-times-circle" style='color:red'></i>`
        }

        return html
    }

    function format_string(str){
        var commaReplacedStr = str.replace(/_/g, ' ');
        var uppercaseStr = commaReplacedStr.replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); });
        return uppercaseStr
    }

</script>
{% endblock %}
